#main{
    width: 80%;
}

#task-boxes{
    margin-top: 30px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;    
}

@media screen and (max-width: 1024px) {
    #task-boxes {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
}