* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

.App {
  text-align: center;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: silver;
}

@media screen and (max-width: 1024px) {
  .App {
    text-align: center;
    padding: 4rem;
  }
}
@media screen and (max-width: 1000px) {
  .App {
    padding-top: 2rem;
  }
}
@media screen and (max-width: 400px) {
  .App {
    min-width: 40rem;
  }
}
