* {
  box-sizing: border-box;
}

.App {
  text-align: center;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: silver;
}

@media screen and (max-width: 1000px) {
  .App {
    padding-top: 20px;
  }
}
@media screen and (max-width: 400px) {
  .App {
    min-width: 400px;
  }
}